* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:;
    font-size: 16px;
    height: 100vh;
    background: #ccc;
}

header {
    background-color: #34a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 1rem 2rem;
}

nav {
    display: flex;
    justify-content: space-around;
    width: 8rem;
}

h1 , a {
    color: #fff;
    text-decoration: none;
    
}

.formulario {
    display: flex;
    justify-content: center;
    align-items: center;

    
    margin: 20rem 50rem;
    padding: 2.5rem;
    border: 1px solid #ccc;
    border-radius: .5rem;
    background: #fff;
}

form {
    width: 100vw;
}

.formulario form div input {
    width: 100%;
    height: 2rem;
    border: 1px solid #ccc;
    border-radius: .25rem;
    padding: .25rem;
}

.campos {
    margin: 1rem 0 0 0;
    padding: 0.25rem;
}

.centro {
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn-entrar {
    background-color: #069546;
    padding: 0.5rem;
    margin-top: 1rem;
    color: #fff;
    font-size: bold;
}